@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.right_box {
    font-family: 'Poppins', sans-serif;
    height: 1150px;
    width: 20%;
    font-size: 27px;
    box-shadow: 1px 1px 1px;
    margin-top: -830px;
    margin-left: 79%;
    border-radius: 10px;
}

.top1 {
    font-size: 17px;
    margin-top: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 670px;

}

.red {
    height: 300px;
    margin-top: 15px;
}

.list {
    margin-top: 15px;
    font-size: 15px;
    box-shadow: 2px rgba(0, 0, 0, 0.3);
}