@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.grid-container {
    font-size: 16px;
    height: 300px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* 4 columns */
    box-shadow: 1px 1px 1px 1px;
    border-radius: 10px;


}

.item1 {
    padding: 2px;
    background-color: #9fecff;
}

.items {
    padding: 2px;
    color: #48ac57;
}

.item2 {
    padding: 2px;
    background-color: rgb(72, 172, 87);
}



.merge-columns {
    grid-column: span 2;
}

.marks {
    margin-top: 15px;
    height: 290px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}